* {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

body {
  background: url("./assets/johannes-plenio-hvrpOmuMrAI-unsplash.jpg") no-repeat
    center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info,
.card-details,
.container {
  text-align: center;
}

.card-results {
  margin-left: 60px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 50px;
}

.pagination button {
  width: 30px;
  height: 30px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  margin: 0 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #eee;
  border-color: #eee;
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #ffba74;
  color: #000000;
}

select {
  width: 100%;
  height: auto;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  color: black;
}

/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #0000008d;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
